<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejs file home page</title>
</head>
<body>
  <h1>This is a home page</h1>
  <h2><%= 1+2 %></h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quos id veniam quo recusandae in velit, quaerat omnis commodi ex asperiores atque fugiat, temporibus, vitae laboriosam eum repudiandae voluptates possimus?</p>
</body>
</html>